include .gitignore
include CMakeLists.txt
include CMakeLists.txt.new
include Examples/Chain_Rod_end-to-end.cpp
include Examples/Dendrimer.cpp
include Examples/DiBlockStarChain.cpp
include Examples/Evaluating.cpp
include Examples/Evaluating2.cpp
include Examples/Exceptions.cpp
include Examples/Micelle.cpp
include Examples/Output.cpp
include Examples/Output2.cpp
include Examples/README
include Examples/RandomLinearPolymer.cpp
include Examples/Star.cpp
include Examples/SymbolInterface.cpp
include Examples/TriBlockCopolymer.cpp
include Examples/TriBlockSymbolic.cpp
include Examples/Validation/GaussianLoop/F.dat
include Examples/Validation/GaussianPolymer/Aend.dat
include Examples/Validation/GaussianPolymer/Amiddle.dat
include Examples/Validation/GaussianPolymer/F.dat
include Examples/Validation/GaussianPolymer/Psi_end2end.dat
include Examples/Validation/GaussianPolymer/Psi_middle2contour.dat
include Examples/Validation/GaussianPolymer/Psi_middle2end.dat
include Examples/Validation/README
include Examples/Validation/SolidCylinder_R1_L1.5/F.dat
include Examples/Validation/SolidCylinder_R1_L1.5/FFA_center.dat
include Examples/Validation/SolidCylinder_R1_L1.5/FFA_ends.dat
include Examples/Validation/SolidCylinder_R1_L1.5/FFA_hull.dat
include Examples/Validation/SolidCylinder_R1_L1.5/FFA_surface.dat
include Examples/Validation/SolidCylinder_R1_L1.5/PF_center2ends.dat
include Examples/Validation/SolidCylinder_R1_L1.5/PF_center2hull.dat
include Examples/Validation/SolidCylinder_R1_L1.5/PF_center2surface.dat
include Examples/Validation/SolidCylinder_R1_L1.5/PF_end2end.dat
include Examples/Validation/SolidCylinder_R1_L1.5/PF_end2hull.dat
include Examples/Validation/SolidCylinder_R1_L1.5/PF_end2surface.dat
include Examples/Validation/SolidCylinder_R1_L1.5/PF_hull2hull.dat
include Examples/Validation/SolidCylinder_R1_L1.5/PF_hull2surface.dat
include Examples/Validation/SolidCylinder_R1_L1.5/PF_surface2surface.dat
include Examples/Validation/SolidCylinder_R2_L0.5/F.dat
include Examples/Validation/SolidCylinder_R2_L0.5/FFA_center.dat
include Examples/Validation/SolidCylinder_R2_L0.5/FFA_ends.dat
include Examples/Validation/SolidCylinder_R2_L0.5/FFA_hull.dat
include Examples/Validation/SolidCylinder_R2_L0.5/FFA_surface.dat
include Examples/Validation/SolidCylinder_R2_L0.5/PF_center2ends.dat
include Examples/Validation/SolidCylinder_R2_L0.5/PF_center2hull.dat
include Examples/Validation/SolidCylinder_R2_L0.5/PF_center2surface.dat
include Examples/Validation/SolidCylinder_R2_L0.5/PF_end2end.dat
include Examples/Validation/SolidCylinder_R2_L0.5/PF_end2hull.dat
include Examples/Validation/SolidCylinder_R2_L0.5/PF_end2surface.dat
include Examples/Validation/SolidCylinder_R2_L0.5/PF_hull2hull.dat
include Examples/Validation/SolidCylinder_R2_L0.5/PF_hull2surface.dat
include Examples/Validation/SolidCylinder_R2_L0.5/PF_surface2surface.dat
include Examples/Validation/SolidSphere_R1/F.dat
include Examples/Validation/SolidSphere_R1/FF.dat
include Examples/Validation/SolidSphere_R1/FFA_center.dat
include Examples/Validation/SolidSphere_R1/FFA_surface.dat
include Examples/Validation/SolidSphere_R1/PF_center_surface.dat
include Examples/Validation/SolidSphere_R1/PF_surface_surface.dat
include Examples/Validation/SolidSphericalShell_Ri2.33_Ro3.44/FF.dat
include Examples/Validation/SolidSphericalShell_Ri2.33_Ro3.44/FFA_center.dat
include Examples/Validation/SolidSphericalShell_Ri2.33_Ro3.44/FFA_inner.dat
include Examples/Validation/SolidSphericalShell_Ri2.33_Ro3.44/FFA_outer.dat
include Examples/Validation/SolidSphericalShell_Ri2.33_Ro3.44/FFA_surface.dat
include Examples/Validation/SolidSphericalShell_Ri2.33_Ro3.44/PF_center_surface.dat
include Examples/Validation/SolidSphericalShell_Ri2.33_Ro3.44/PF_inner_inner.dat
include Examples/Validation/SolidSphericalShell_Ri2.33_Ro3.44/PF_inner_outer.dat
include Examples/Validation/SolidSphericalShell_Ri2.33_Ro3.44/PF_inner_surface.dat
include Examples/Validation/SolidSphericalShell_Ri2.33_Ro3.44/PF_outer_outer.dat
include Examples/Validation/SolidSphericalShell_Ri2.33_Ro3.44/PF_outer_surface.dat
include Examples/Validation/SolidSphericalShell_Ri2.33_Ro3.44/PF_surface_surface.dat
include Examples/Validation/ThinDisk_R1/FF.dat
include Examples/Validation/ThinDisk_R1/FFA_center.dat
include Examples/Validation/ThinDisk_R1/FFA_rim.dat
include Examples/Validation/ThinDisk_R1/Psi_center2rim.dat
include Examples/Validation/ThinDisk_R1/Psi_rim2rim.dat
include Examples/Validation/ThinRod/A_end.dat
include Examples/Validation/ThinRod/A_middle.dat
include Examples/Validation/ThinRod/F.dat
include Examples/Validation/ThinRod/Psi_contour2middle.dat
include Examples/Validation/ThinRod/Psi_end2end.dat
include Examples/Validation/ThinRod/Psi_end2middle.dat
include Examples/Validation_GaussianLoop.cpp
include Examples/Validation_GaussianPolymer.cpp
include Examples/Validation_SolidCylinder.cpp
include Examples/Validation_SolidSphere.cpp
include Examples/Validation_SolidSphericalShell.cpp
include Examples/Validation_ThinDisk.cpp
include Examples/Validation_ThinRod.cpp
include Examples/Validation_ThinSphericalShell.cpp
include Examples/diblock_copolymer.py
include Examples/diblock_copolymer_sympy.py
include Examples/micelle.py
include LICENSE
include Mathematica/README
include Mathematica/RWloop.nb
include Mathematica/RWloop.pdf
include Mathematica/RWpolymer.nb
include Mathematica/RWpolymer.pdf
include Mathematica/Sampled/DebyeSampler.hpp
include Mathematica/Sampled/GenerateSamples.hpp
include Mathematica/Sampled/README
include Mathematica/Sampled/Sample_SolidCylinder.cpp
include Mathematica/Sampled/Sample_SolidSphere.cpp
include Mathematica/Sampled/Sample_SolidSphericalShell.cpp
include Mathematica/Sampled/Sample_ThinDisk.cpp
include Mathematica/Sampled/SolidCylinder_R1.000000_L1.500000/FF.q
include Mathematica/Sampled/SolidCylinder_R1.000000_L1.500000/FFA_center.q
include Mathematica/Sampled/SolidCylinder_R1.000000_L1.500000/FFA_end.q
include Mathematica/Sampled/SolidCylinder_R1.000000_L1.500000/FFA_endpoint.q
include Mathematica/Sampled/SolidCylinder_R1.000000_L1.500000/FFA_hull.q
include Mathematica/Sampled/SolidCylinder_R1.000000_L1.500000/FFA_surface.q
include Mathematica/Sampled/SolidCylinder_R1.000000_L1.500000/PF_center_end.q
include Mathematica/Sampled/SolidCylinder_R1.000000_L1.500000/PF_center_hull.q
include Mathematica/Sampled/SolidCylinder_R1.000000_L1.500000/PF_center_surface.q
include Mathematica/Sampled/SolidCylinder_R1.000000_L1.500000/PF_end_end.q
include Mathematica/Sampled/SolidCylinder_R1.000000_L1.500000/PF_end_hull.q
include Mathematica/Sampled/SolidCylinder_R1.000000_L1.500000/PF_end_point.q
include Mathematica/Sampled/SolidCylinder_R1.000000_L1.500000/PF_end_surface.q
include Mathematica/Sampled/SolidCylinder_R1.000000_L1.500000/PF_hull_hull.q
include Mathematica/Sampled/SolidCylinder_R1.000000_L1.500000/PF_hull_point.q
include Mathematica/Sampled/SolidCylinder_R1.000000_L1.500000/PF_hull_surface.q
include Mathematica/Sampled/SolidCylinder_R1.000000_L1.500000/PF_point_surface.q
include Mathematica/Sampled/SolidCylinder_R1.000000_L1.500000/PF_surface_surface.q
include Mathematica/Sampled/SolidCylinder_R2.000000_L0.500000/FF.q
include Mathematica/Sampled/SolidCylinder_R2.000000_L0.500000/FFA_center.q
include Mathematica/Sampled/SolidCylinder_R2.000000_L0.500000/FFA_end.q
include Mathematica/Sampled/SolidCylinder_R2.000000_L0.500000/FFA_endpoint.q
include Mathematica/Sampled/SolidCylinder_R2.000000_L0.500000/FFA_hull.q
include Mathematica/Sampled/SolidCylinder_R2.000000_L0.500000/FFA_surface.q
include Mathematica/Sampled/SolidCylinder_R2.000000_L0.500000/PF_center_end.q
include Mathematica/Sampled/SolidCylinder_R2.000000_L0.500000/PF_center_hull.q
include Mathematica/Sampled/SolidCylinder_R2.000000_L0.500000/PF_center_surface.q
include Mathematica/Sampled/SolidCylinder_R2.000000_L0.500000/PF_end_end.q
include Mathematica/Sampled/SolidCylinder_R2.000000_L0.500000/PF_end_hull.q
include Mathematica/Sampled/SolidCylinder_R2.000000_L0.500000/PF_end_point.q
include Mathematica/Sampled/SolidCylinder_R2.000000_L0.500000/PF_end_surface.q
include Mathematica/Sampled/SolidCylinder_R2.000000_L0.500000/PF_hull_hull.q
include Mathematica/Sampled/SolidCylinder_R2.000000_L0.500000/PF_hull_point.q
include Mathematica/Sampled/SolidCylinder_R2.000000_L0.500000/PF_hull_surface.q
include Mathematica/Sampled/SolidCylinder_R2.000000_L0.500000/PF_point_surface.q
include Mathematica/Sampled/SolidCylinder_R2.000000_L0.500000/PF_surface_surface.q
include Mathematica/Sampled/SolidSphere_R1.000000/FF.q
include Mathematica/Sampled/SolidSphere_R1.000000/FFA_center.q
include Mathematica/Sampled/SolidSphere_R1.000000/FFA_surface.q
include Mathematica/Sampled/SolidSphere_R1.000000/PF_center_surface.q
include Mathematica/Sampled/SolidSphere_R1.000000/PF_surface_surface.q
include Mathematica/Sampled/SolidSphericalShell_Ri2.330000_Ro3.440000/FF.q
include Mathematica/Sampled/SolidSphericalShell_Ri2.330000_Ro3.440000/FFAcenter.q
include Mathematica/Sampled/SolidSphericalShell_Ri2.330000_Ro3.440000/FFAinner.q
include Mathematica/Sampled/SolidSphericalShell_Ri2.330000_Ro3.440000/FFAouter.q
include Mathematica/Sampled/SolidSphericalShell_Ri2.330000_Ro3.440000/FFAsurface.q
include Mathematica/Sampled/SolidSphericalShell_Ri2.330000_Ro3.440000/Pcenter_surface.q
include Mathematica/Sampled/SolidSphericalShell_Ri2.330000_Ro3.440000/Pinner_inner.q
include Mathematica/Sampled/SolidSphericalShell_Ri2.330000_Ro3.440000/Pinner_outer.q
include Mathematica/Sampled/SolidSphericalShell_Ri2.330000_Ro3.440000/Pinner_surface.q
include Mathematica/Sampled/SolidSphericalShell_Ri2.330000_Ro3.440000/Pouter_outer.q
include Mathematica/Sampled/SolidSphericalShell_Ri2.330000_Ro3.440000/Pouter_surface.q
include Mathematica/Sampled/SolidSphericalShell_Ri2.330000_Ro3.440000/Psurface_surface.q
include Mathematica/Sampled/ThinDisk_R1/F.q
include Mathematica/Sampled/ThinDisk_R1/FFA_center.q
include Mathematica/Sampled/ThinDisk_R1/FFA_rim.q
include Mathematica/Sampled/ThinDisk_R1/P_rim2rim.q
include Mathematica/Sampled/makefile
include Mathematica/SolidCyllinder.nb
include Mathematica/SolidCyllinder.pdf
include Mathematica/SolidSphere.nb
include Mathematica/SolidSphere.pdf
include Mathematica/SolidSphericalShell.nb
include Mathematica/SolidSphericalShell.pdf
include Mathematica/ThinDisk.nb
include Mathematica/ThinDisk.pdf
include Mathematica/ThinRod.nb
include Mathematica/ThinRod.pdf
include PYTHON_GUIDE.md
include PYTHON_INSTALL.md
include PYTHON_README.md
include PaperFigs/README
include PaperFigs/fig10.png
include PaperFigs/fig10_GaussianLoop_contour2contour.cpp
include PaperFigs/fig10_GaussianPolymer_contour2contour.cpp
include PaperFigs/fig10_GaussianPolymer_end2end.cpp
include PaperFigs/fig10_ThinCircle_contour2contour.cpp
include PaperFigs/fig10_ThinRod_contour2contour.cpp
include PaperFigs/fig10_ThinRod_end2end.cpp
include PaperFigs/fig10_rod_end2end.cpp
include PaperFigs/fig11.png
include PaperFigs/fig11_GaussianPolymer_dendrimer_contour2contour.cpp
include PaperFigs/fig11_GaussianPolymer_dendrimer_end2end.cpp
include PaperFigs/fig11_ThinRod_dendrimer_contour2contour.cpp
include PaperFigs/fig11_ThinRod_dendrimer_end2end.cpp
include PaperFigs/fig12.png
include PaperFigs/fig12_SolidCylinder.cpp
include PaperFigs/fig12_SolidCylinder_hull_ends.cpp
include PaperFigs/fig12_SolidSphere.cpp
include PaperFigs/fig12_SolidSphere_twin.cpp
include PaperFigs/fig12_SphericalShell.cpp
include PaperFigs/fig12_SphericalShell_inout.cpp
include PaperFigs/fig13.png
include PaperFigs/fig13_starchain.cpp
include PaperFigs/fig3.png
include PaperFigs/fig3_contour2contour.cpp
include PaperFigs/fig3_end2contour.cpp
include PaperFigs/fig3_end2end.cpp
include README.md
include SEB/Abstract_subunit.hpp
include SEB/CMakeLists.txt
include SEB/Constants.hpp
include SEB/Exceptions.hpp
include SEB/Expression.hpp
include SEB/Expression.hpp.new
include SEB/ExpressionFunctions.hpp
include SEB/GiNaCSymbolic.cpp
include SEB/GiNaCSymbolic.hpp
include SEB/Makefile.test
include SEB/README
include SEB/RegisterSpecialFunctions.cpp
include SEB/SEB.hpp
include SEB/SpecialFunctions.cpp
include SEB/SpecialFunctions.hpp
include SEB/SpecialFunctionsWrapper.cpp
include SEB/SpecialFunctionsWrapper.hpp
include SEB/SymPySymbolic.hpp
include SEB/Structure.hpp
include SEB/Subunit.cpp
include SEB/Subunit.hpp
include SEB/Subunits/Constants.hpp
include SEB/Subunits/CreateSubunit.hpp
include SEB/Subunits/GaussianLoop.hpp
include SEB/Subunits/GaussianPolymer.hpp
include SEB/Subunits/Point.hpp
include SEB/Subunits/README
include SEB/Subunits/SolidCylinder.hpp
include SEB/Subunits/SolidSphere.hpp
include SEB/Subunits/SolidSphericalShell.hpp
include SEB/Subunits/Subunits.hpp
include SEB/Subunits/Symbolic.hpp
include SEB/Subunits/ThinCircle.hpp
include SEB/Subunits/ThinDisk.hpp
include SEB/Subunits/ThinRod.hpp
include SEB/Subunits/ThinSphericalShell.hpp
include SEB/SymbolInterface.cpp
include SEB/SymbolInterface.hpp
include SEB/SymbolicInterface.cpp
include SEB/SymbolicInterface.hpp
include SEB/Types.hpp
include SEB/World.cpp
include SEB/World.hpp
include SEB/test_expression.cpp
include SYMBOLIC_ABSTRACTION.md
include SYMBOLIC_ABSTRACTION_DETAILS.md
include SYMBOLIC_ABSTRACTION_SUMMARY.md
include Tests/CMakeLists.txt
include Tests/PaperFigs_test.cpp
include Tests/README.md
include Tests/Sample_SolidCylinder_test.cpp
include Tests/Sample_SolidSphere_test.cpp
include Tests/Sample_SolidSphericalShell_test.cpp
include Tests/Sample_ThinDisk_test.cpp
include Tests/structure_tests.cpp
include Tests/utility_test.cpp
include Tests/validation_tests.cpp
include build/README
include makefile
include pyproject.toml
include pyseb/__init__.py
include pyseb/__init__.py.new
include pyseb/subunits.py
include pyseb/symbolic.py
include pyseb/utils.py
include setup.py
include src/bindings.cpp
include src/symbolic_bindings.cpp
include src/symbolic_bindings_part1.cpp
include src/symbolic_bindings_part2.cpp
include src/symbolic_bindings_part3.cpp
include src/symbolic_bindings_part4.cpp
include src/symbolic_bindings_part5.cpp
include src/utility.cpp
include work/Evaluating.cpp

# Keep packaging robust as bindings evolve
recursive-include src *.cpp *.hpp
include work/README
exclude MANIFEST.in